@import "../../general.scss";
.user-search-card {
    background-color: $light-gray;
    width: 16rem;
    height: 400px;
}
.card-body {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-search-card__footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}

.search-card-img{
    height:250px;
    object-fit: cover;
}