.overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0,0,0, 0.7);
}

.lending-img {
    width: 40%;
}

p {
    font-size: 24px;
}

.landing-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.landing-btn-container{
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
  
.landing-btn{
    width: 200px;
}