$dark-grey: #2f2e33; // Сине-черный (цвет бордера)
.user {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    padding: 10px;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    width: 110px;
    height: 110px;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid $dark-grey;
    margin: 20px 0;
}

@media only screen and (min-width: 485px) and (max-width: 770px) {
    .avatar {
        width: 60px;
        height: 60px;
        padding: 8px;
        margin: 10px 0;
    }
    li {
        font-size: 12px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 485px) {
    .avatar {
        width: 40px;
        height: 40px;
        padding: 5px;
        margin: 10px 0;
    }
    li {
        font-size: 12px;
    }
}
