.chat-users {
  .chat-user {
    display: grid;
    grid-template-areas:
      'b a a a a'
      'b c c c c';
    padding: 7px;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
      background: #ccc;
    }

    .user-image {
      width: 45px;
      border-radius: 50%;
      grid-area: b;
    }
    .user-name {
      font-size: 20px;
      grid-area: a;
    }
    .user-last_text {
      grid-area: c;
    }
  }
  .active {
    background: #ccc;
  }
}
