.footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #d5d6d2;
  padding: 10px;
  flex-shrink: 0;
  flex-wrap: wrap;
}

.footer__logo-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
}



.github {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  
  margin: 3px;
}

.footer__rsslogo{
  width: 100px;
}