.register {
  width: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -60%) scale(0);
  background: wheat;
  padding: 20px;
  border-radius: 20px;
  opacity: 0;
  transition: 1s;
  z-index: 6;
}

.register-active {
  opacity: 1;
  transform: translate(-50%, -60%) scale(1);
}
.error {
  color: red;
}

.margin-top-20 {
  margin-top: 20px;
}