@import "../../general.scss";

p {
  margin: 0;
}
.feed-post {
  padding: 25px 15px;
  background: $light-gray;
  color: $dark-grey;
  border-radius: 10px;
  margin-top: 20px;
  .post-header {
    display: flex;
    justify-content: space-between;
    .user-info {
      display: flex;
      align-items: center;
      gap: 10px;
      .avatar {
        border-radius: 50%;
        overflow: hidden;
        width: 40px;
        height: 40px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .post-text_place {
    margin: 20px 0;
  }
  .reactions {
    border: none;
    background: transparent;
  }
  .like-comments {
    display: flex;
    gap: 20px;
  }
}
.settins {
  position: absolute;
  width: 120px;
  padding: 10px;
  right: 25px;
  top: 10%;
  list-style: none;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 10px;
  .setting-item {
    font-size: 14px;
    padding: 5px;
    margin-bottom: 5px;
    cursor: pointer;
  }
}

@media only screen and (min-width: 485px) and (max-width: 770px) {
  .feed-post {
    padding: 15px 5px;
    border-radius: 10px;
    margin-top: 10px;
    .avatar {
      width: 30px;
      height: 30px;
    }
  }
  .settins {
    width: 80px;
    padding: 10px;
    .setting-item {
      font-size: 12px;
      padding: 3px;
      margin-bottom: 3px;
    }
  }
  .h4,
  h4 {
    font-size: 0.8rem;
  }
  .feed-post .post-text_place {
    margin: 10px 0;
  }
  .post-text_place span {
    font-size: 0.6rem;
  }
}

@media only screen and (min-width: 320px) and (max-width: 485px) {
  .feed-post {
    padding: 5px 2px;
    border-radius: 10px;
    margin-top: 5px;
    .avatar {
      width: 20px;
      height: 20px;
    }
  }
  .settins {
    width: 60px;
    padding: 5px;
    .setting-item {
      font-size: 12px;
      padding: 2px;
      margin-bottom: 2px;
    }
  }
  .h4,
  h4 {
    font-size: 0.6rem;
  }
  .feed-post .post-text_place {
    margin: 5px 0;
  }
  .post-text_place span {
    font-size: 0.5rem;
  }
}
