$white: #ffffff; // Белый (цвет background)
$dark-grey: #2f2e33; // Сине-черный (цвет бордера)
$light-gray: #d5d6d2; // Холодный серый (для каких-то небольших выделений)
$blue: #3a5199; // Кобальт (синий) (для важных смысловых выделений и значений)

* {
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

// Шрифт если больше - то 24px и 36px
// если надо ещё меньше то 12px

.font-sixe-12 {
  font-size: 36px;
}

.font-sixe-24 {
  font-size: 24px;
}

.font-sixe-36 {
  font-size: 36px;
}

html,
body {
  height: 100%;
}

.border {
  color: $dark-grey;
  border-radius: 3px;
}

.content {
  flex: 1 0 auto;
  display: block;
  max-width: 1200px;
  padding: 20px 20px;
}

@media screen and (min-width: 320px) and (max-width: 500px) {
  .content {
    max-width: 100%;
    padding: 20px 20px;
  }
  
}

@media screen and (min-width: 500px) and (max-width: 800px) {
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
  .content {
    max-width: 1100px;
    padding: 20px 20px;
  }
}
