$main-color: #ffffff; // Белый (цвет background)
$border-color: #2f2e33; // Сине-черный (цвет бордера)
$highlight-color: #d5d6d2; // Холодный серый (для каких-то небольших выделений)
$semantic-color: #3a5199; // Кобальт (синий) (для важных смысловых выделений и значений)

* {
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

// Шрифт если больше - то 24px и 36px
// если надо ещё меньше то 12px

body {
    margin: 0 auto;
    width: 1200px;
}

.border {
    color: $border-color;
    border-radius: 3px;
}

@media screen and (min-width: 320px) and (max-width: 500px) {
    body {
        width: 300px;
    }
}

@media screen and (min-width: 500px) and (max-width: 800px) {
    body {
        width: 450px;
    }
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
    body {
        width: 750px;
    }
}
